#primary-menu {
    position: relative;
    height: 1px; 
    top: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #1b206e;
    text-transform: uppercase;
    font-family: 'Antonio', sans-serif;  
    width: 100vw;
    align-items: center;
    @include tablet{
        top: -4px;
        height: 120px;
        flex-direction: row;
    }
    @include grand_ecran{
        top: -4px;
        height: 120px;
        flex-direction: row;
    }
    @include TresGrandEcran{
        top: -4px;
        height: 120px;
        flex-direction: row;
    }
    li ul{
        display: flex;
        flex-direction: column;
        background-color: #5700a3;
        align-items: center;
    }
   
    a:link, a:visited
    {
        display: none; 
        color: #ffe5b6;
        @include tablet{
            display: flex;
            font-size: clamp(0.7rem, 1.3vw, 2rem);
            font-weight: bold;
        }
        @include grand_ecran{
            display: flex;
            font-size: clamp(0.7rem, 1.3vw, 2rem);
            font-weight: bold;
        }
        @include TresGrandEcran{
            display: flex;
            font-size: clamp(0.7rem, 1.3vw, 2rem);
            font-weight: bold;
        }
    }
}
.sub-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
#site-navigation{
    width: 100vw;
    position: fixed; 
    transition: 1s;
}
.espace{
    height: 100px;
    background-color: white;
}