a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/**** AJOUT VARIABLE COULEUR DANS MAIN *****/
.site-main{
    a{
        color: $color__linksite-main;
        &:visited {
            color: $color__linksite-main-visited;
        }
        &:focus {
            outline: none;
        }
        &:hover,
        &:active {
            outline: 0;
        }
    }
}